{% include 'base.html' %}
{% block content %}

<style>
.main{
   
    display: table;         
    margin: auto;
}

</style>
<div class="container-fluid  mt-5 box">
    <div class="text-center main  w-50" class="form-control ">
       <form action="" method="post" class="form-control p-5"> 
            {% csrf_token %}

            <label for=""  >USERNAME</label>
            <input type="text" name="username" class="form-control mt-3">
            <label for="">PASSWORD</label>
            <input type="password" name="password" class="form-control mt-3">
            
            <button type="submit" class="btn btn-warning mt-4" >LOGIN</button>
        </form>
{% for i in messages %}
{{i}}
{% endfor %}
    </div>

</div>




{% endblock %}  
